<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/js/module.js"></script>
    <script src="/js/controllers.js"></script>

    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body ng-app='myapp'>

    <!-- <h1>Live</h1> -->

    <div class="container-fluid">
      <ui-view></ui-view>
    </div>

    <div>
      <ul>
        <li>User Id</li>
        <li>User Name</li>
        <li>User Age</li>
      </ul>
    </div>

  </body>
</html>
