<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="/bower_components/angular/angular.js" ></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <link rel='stylesheets' href='/css/style.css' />
  </head>
  <body ng-app="myapp">

    <ui-view></ui-view>

  </body>
</html>
