<div style="margin: 10%; padding: 10%">
  <div>
    <input type="text" placeholder="ID" ng-model="client.clientID">
  </div>

  <div>
    <input type="text" placeholder="Name" ng-model="client.clientName">
  </div>

  <div>
    <input type="text" placeholder="Age" ng-model="client.clientAge">
  </div>

  <div>
      <input type="submit" text="submit" ng-click="submit()">
  </div>
</div>

  <div>
    <button ng-click="read()">Read</button>
  </div>

  <table>
    <th>Object Id</th>
    <th>Client ID</th>
    <th>Client Name</th>
    <th>Client Age</th>
    <th>ETC</th>
    <tr ng-repeat="client in resClient">
      <td>{{client._id}}</td>
      <td>{{client.clientID}}</td>
      <td>{{client.clientName}}</td>
      <td>{{client.clientAge}}</td>
      <td><button ng-click="update(client)">Update</button></td>
      <td><button ng-click="delete(client._id)">Delete</button></td>
    </tr>

  </table>


  <!-- <div ng-controller="ctrl1">
      <span>{{myText}}</span>
      <div ng-controller="ctrl2">
          <span>{{myText}}</span>
      </div>
  </div> -->

  <!-- <div ng-controller="ParentCtrl">
      {{customerName}}
    <div ng-controller="ChildCtrl">
      {{customerName}}
    </div>
  </div> -->
